<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>insertar-relacion-promocion-especial-sucursal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--ion-content class="ion-padding"-->
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Insertar Relación Promoción Especial Sucursal</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <form [formGroup]="formularioPromocionEspecial" (ngSubmit)="insertaRegistroRelacionPES()">
        <ion-item>
          <div style="display: flex; justify-content: center; gap: 10px">
            <ion-list>

              <!--ion-select aria-label="Food" [compareWith]="compareWith" placeholder="Select food" (ionChange)="handleChange($event)"-->
              <ion-select aria-label="Food" placeholder="Selecciona Promoción Especial" formControlName="idPromocion">
                <ion-select-option *ngFor="let promocionEspecial of promocionesEspecial"
                  [value]="promocionEspecial.idPromocion">
                  {{ promocionEspecial.nombre}} -
                  {{promocionEspecial.descripcion}}</ion-select-option>
              </ion-select>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <ion-select label="Activa" label-placement="floating" formControlName="activa">
            <ion-select-option value="S">Sí</ion-select-option>
            <ion-select-option value="N">No</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="button-container">
          <ion-button type="submit" class="centered-button" [disabled]="!formularioPromocionEspecial.valid" color="success">
            Inserta Promoción Especial Sucursal
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
