.table-container {
    overflow-x: auto;
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
  }

  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .data-table tr:hover {
    background-color: #eaeaea;
  }

  .data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  td{
    text-align:center;
}

.ion-color-custom {
    --ion-color-base: #ff8b06f9;
    //--ion-color-base-rgb: 255, 87, 51;
    --ion-color-contrast: #ffffff;
    //--ion-color-contrast-rgb: 255, 255, 255;
    //--ion-color-shade: #ed4908;
    //--ion-color-tint: #ed4908;
  }

  .custom-button {
    --background: rgb(103, 173, 91);
    --color: white;
  }

  .subtitle{
    font-size: 0.7rem;
  }
