<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Catálogo Especialidades
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarEspecialidad()" class="custom-button">Insertar Especialidad</ion-button>
  </p>

  <div class="table-container">
    @if (especialidades){
    <ion-grid fixed>
      <ion-row>
        @for (especialidad of especialidades; track $index) {
        <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="subtitle">{{especialidad.id}}</ion-card-subtitle>
              <ion-card-title>{{especialidad.nombre}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <b>Ingredientes:</b> {{especialidad.ingredientes}}<br>
              <b>Imagen:</b> {{especialidad.imgURL}}<br>
              <b>Orden:</b> {{especialidad.orden}}<br>
              <b>Cantidad de Ingredientes:</b> {{especialidad.cantidadIngredientes}}<br>
              <b>Es de un Ingrediente:</b> {{especialidad.esDeUnIngredienteCompleto}}<br><br>
              <ion-button (click)="confirmaBorrar(especialidad)" color="danger">Borrar</ion-button>
              <ion-button (click)="saltaAEditarEspecialidad(especialidad.id)">Editar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    }
  </div>
</ion-content>
