<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Regiones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarRegion()" color="success">Insertar Región</ion-button>
  </p>


  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID Región</th>
          <th>Nombre Región</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (regiones){
          @for (region of regiones; track $index) {
        <tr>
          <td>{{region.idRegion}}</td>
          <td>{{region.nombreRegion}}</td>
          <td>
            <ion-button (click)="confirmaBorrar(region)" color="danger">Borrar</ion-button>
          </td>
          <td>
            <ion-button (click)="saltaAEditarRegion(region.idRegion)">Editar</ion-button> <br>
          </td>
        </tr>
      }
      }
      </tbody>

    </table>
  </div>


</ion-content>
