<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Regiones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">regiones-ppal</ion-title>
    </ion-toolbar>
  </ion-header>
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarRegion()" color="success">Insertar Región</ion-button>
  </p>

  
  <!--ion-list>
    @if (regiones) {
    @for (region of regiones; track $index) {
    <ion-item>
      <ion-label>
        {{region.idRegion}}
      </ion-label>
      <ion-label>
        {{region.nombreRegion}}
      </ion-label>
      <ion-button (click)="confirmaBorrar(region)" color="danger">Borrar</ion-button>
      <ion-button>Editar</ion-button> <br>
    </ion-item>
    }

    }

  </!--ion-list-->

  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID Region</th>
          <th>Nombre Region</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (regiones){
          @for (region of regiones; track $index) {
        <tr>
          <td>{{region.idRegion}}</td>
          <td>{{region.nombreRegion}}</td>
          <td>      
            <ion-button (click)="confirmaBorrar(region)" color="danger">Borrar</ion-button>
          </td>
          <td>
            <ion-button>Editar</ion-button> <br>
          </td>
        </tr>
      }
      }
      </tbody>
    
    </table>
  </div>


</ion-content>