<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Editar Promoción Especial
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Promoción Especial</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>
        ID: {{idPromocion}}
      </h1>
      <form [formGroup]="formularioPromocionEspecial" (ngSubmit)="editaPromocionEspecial()">
        <ion-item>
          <ion-input label="Nombre" label-placement="floating" formControlName="nombre" [ngModel]="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Descripción" label-placement="floating" formControlName="descripcion"
            [ngModel]="descripcion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Tipo" label-placement="floating" formControlName="tipo" [ngModel]="tipo">
            <ion-select-option value="CB">CB (Combo)</ion-select-option>
            <ion-select-option value="PE">PE (Precio Especial)</ion-select-option>
          </ion-select>
        </ion-item>
        <!--ion-item>
          <ion-input label="Tipo" label-placement="floating" formControlName="tipo" [ngModel]="tipo"></ion-input>
        </!--ion-item-->
        <ion-item>
          <ion-input label="Definición" label-placement="floating" formControlName="definicion"
            [ngModel]="definicion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Precio" label-placement="floating" formControlName="precio" [ngModel]="precio"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Activa" label-placement="floating" formControlName="activa" [ngModel]="activa">
            <ion-select-option value="S">Sí</ion-select-option>
            <ion-select-option value="N">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Selecciona una imagen</ion-label>
          <input type="file" accept="image/*" (change)="onFileSelected($event)"
            style="padding: 10px; border: none; background: transparent;" />
        </ion-item>


        <div class="button-container">
          <ion-button type="submit" class="centered-button" [disabled]="!formularioPromocionEspecial.valid">
            Edita Promoción Especial
          </ion-button>
        </div>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>