<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Categorias</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarCategoria()" color="success">Insertar Categoria</ion-button>
  </p>


  <div class="table-container">
    @if (categorias){
      <ion-grid fixed>
        <ion-row>
          @for (categoria of categorias; track $index) {
            <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="subtitle">{{categoria.codigo}}</ion-card-subtitle>
              <ion-card-title>{{categoria.nombre}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-button (click)="confirmaBorrar(categoria)" color="danger">Borrar</ion-button>
              <ion-button (click)="saltaAEditarCategoria(categoria.codigo)">Editar</ion-button>

            </ion-card-content>
          </ion-card>
          </ion-col>
        }

        </ion-row>
      </ion-grid>
  }
  </div>

</ion-content>

