<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>insertar-relacion-pizza-sucursal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-title size="large">Insertar Relación Pizza Sucursal</ion-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formularioRPS" (ngSubmit)="insertaRPS()">
              <ion-item>
                @if (relacionPizzaSucursalNoEstaEnPizza){
                <ion-select label="Elige Pizza" label-placement="floating"
                  formControlName="idPizza">
                  @for (rps of relacionPizzaSucursalNoEstaEnPizza; track $index) {
                  <ion-select-option value="{{rps.idPizza}}">{{rps.nombreEspecialidad}} {{rps.nombreTamanio}}</ion-select-option>
                  }
                </ion-select>
                }
              </ion-item>
              <ion-item>
                <ion-input label="Precio X2" label-placement="floating" formControlName="precioX2"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Precio X1" label-placement="floating" formControlName="precioX1"></ion-input>
              </ion-item>
              <div class="button-container">
                <ion-button type="submit" class="centered-button" [disabled]="!formularioRPS.valid"
                  color="success">
                  Inserta Relación Pizza Sucursal
                </ion-button>
              </div>
            </form>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
