<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="custom">
      <ion-title class="ion-text-center" style="font-size: 24px">
        <div style="display: flex; justify-content: space-between; width: 100%">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div style="text-align: left">Sucursal: {{cveSucursal}}</div>
              </ion-col>
              <ion-col>
                <div style="display: flex; justify-content: stretch; width: 100%">
                  Sistema de Captura de Precios, Productos y Promociones CheesePizza
                </div>
              </ion-col>
              <ion-col>
                <div style="text-align: right">Usuario: paco.oliva</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div style="display: flex; justify-content: center; gap: 10px">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaACategorias()"
              >Catálogo Categorias</ion-button
            >
          </ion-col>          
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaAEspecialidades()"
              >Catálogo Especialidades</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaATamaniosPizza()"
              >Catálogo Tamaños Pizza</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaARegiones()"
              >Catálogo Regiones</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaAProductos()"
              >Catálogo Productos</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaASucursales()"
              >Catálogo Sucursales</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaATipoProductos()"
              >Catálogo Tipos de Producto</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaASalsas()">Catálogo Salsas</ion-button>
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaARelacionETPS()"
              >Catálogo Relación Especialidad, Tamaño, Precio,
              Sucursal</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaAPromocionEspecial()"
              >Catálogo Promoción Especial</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="saltaARelacionPES()"
              >Catálogo Relación Promoción Especial Sucursal</ion-button
            >
          </ion-col>
          <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <ion-button (click)="abrirEnNuevaPestana('https://www.google.com.mx')"
              >Abrir en una nueva pestaña</ion-button
            >
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <ion-content class="ion-padding">
      <div style="display: flex; justify-content: center; gap: 10px">
        <ion-button (click)="saltaAHomePage()" color="warning"
          >Cambiar de Sucursal</ion-button
        >
      </div>
    </ion-content>
  </ion-content>
</div>
