<div class="ion-page" id="main-content">

  <!--ion-header [translucent]="true">
    <ion-toolbar style="background-color: #d32f2f; color: #000000;">
      <ion-grid>
        <ion-row class="header-row">
          <ion-col size="12" size-lg="4" sizeMd="4" sizeSm="4" class="left-text">
            <div>Sucursal: {{cveSucursal}}</div>
          </ion-col>
          <ion-col size="12" size-lg="4" sizeMd="4" sizeSm="4" class="center-text">
            Sistema de Captura de Precios, Productos y Promociones CheesePizza
          </ion-col>
          <ion-col size="12" size-lg="4" sizeMd="4" sizeSm="4" class="right-text">
            <div>Usuario: admin</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </!--ion-header-->

  <!--ion-header [translucent]>
    <ion-toolbar style="background-color: #d32f2f; color: #000000;">
      <ion-grid>
        <ion-row class="header-row" align-items-center>
          <ion-col size="12" size-lg="3" sizeMd="3" sizeSm="3">
          </ion-col>

          <ion-col size="12" size-lg="6" sizeMd="6" sizeSm="6" class="center-text" style="text-align: center;">
            Sistema de Captura de Precios, Productos y Promociones CheesePizza
          </ion-col>

          <ion-col size="12" size-lg="3" sizeMd="3" sizeSm="3" class="right-text" style="text-align: right;">
            <div>Sucursal: {{cveSucursal}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header-->



  <ion-header>
    <ion-toolbar color="custom">
      <ion-buttons slot="start">
        <app-session-timer></app-session-timer>
      </ion-buttons>

      <ion-title class="ion-text-center" style="font-size: 24px;">
        Sistema de Captura de Precios, Productos y Promociones CheesePizza
      </ion-title>
      <div slot="end" style="padding-right: 10px; color: white;" style="font-size: 18px; margin-right: 20px; display: flex; align-items: center;">
        Sucursal: {{cveSucursal}}
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
      <div style="display: flex; justify-content: center; gap: 10px">
        <ion-button (click)="saltaAHomePage()" color="warning">Cambiar de Sucursal</ion-button>
      </div>
  <!-- Sección 1: Primeros 12 botones -->
  <ion-card class="card-principales">
    <ion-card-header>
      <ion-card-title class="card-title-green-shadow">Catálogos Comunes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of catalogosPrincipales" size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <div style="display: flex; justify-content: center; gap: 10px">
              <ion-button (click)="item.accion()">{{ item.nombre }}</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Sección 2: Siguientes 5 botones -->
  <ion-card class="card-relaciones">
    <ion-card-header>
      <ion-card-title class="card-title-red-shadow">Catálogos de la Sucursal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of catalogosRelacionados" size="12" size-lg="3" sizeMd="4" sizeSm="6">
            <div style="display: flex; justify-content: center; gap: 10px">
              <ion-button (click)="item.accion()">{{ item.nombre }}</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




    <ion-content class="ion-padding">
      <div style="display: flex; justify-content: center; gap: 10px">
        <ion-button (click)="saltaAHomePage()" color="warning">Cambiar de Sucursal</ion-button>
      </div>
    </ion-content>
  </ion-content>
</div>
