<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Edita Relación Producto Sucursal
    </ion-title>

    <!-- Sucursal derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Editar Relación Producto Sucursal
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <h2>
              ID: {{idProducto}}
            </h2>

            <h2>
              Descripción: {{descripcion}}
            </h2>

            <h2>
              Tamaño: {{tamanio}}
            </h2>

            <h2>
              Sucursal: {{claveSucursal}}
            </h2>

            <form [formGroup]="formularioRPS" (ngSubmit)="editaRPS()">

              <ion-item>
                <ion-input label="Precio" label-placement="floating" formControlName="precio" [ngModel]="precio">
                </ion-input>
              </ion-item>

              <div class="button-container">
                <ion-button type="submit" class="centered-button" [disabled]="!formularioRPS.valid">
                  Edita Relación Producto Sucursal
                </ion-button>
              </div>

            </form>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
