<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Editar Pizza
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Editar Pizza</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>ID: {{idPizza}}</h1>
            <form [formGroup]="formularioPizza" (ngSubmit)="editaPizza()">
              <ion-item>
                <ion-select label="Selecciona Especialidad Pizza" label-placement="floating" formControlName="idEspecialidadFormulario" [(ngModel)]="idEspecialidadSeleccionada">
                  <ion-select-option *ngFor="let esp of especialidad" [value]="esp.id">
                    {{ esp.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-select label="Selecciona Tamaño Pizza" label-placement="floating" formControlName="idTamanioFormulario" [(ngModel)]="idTamanioPizzaSeleccionado">
                  <ion-select-option *ngFor="let tp of tamanioPizza" [value]="tp.id">
                    {{ tp.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <!--ion-input label="Aplica 2x1" label-placement="floating" formControlName="aplica2x1"
                  [ngModel]="aplica2x1"></!--ion-input-->

                  <ion-select label="Aplica 2x1" label-placement="floating" formControlName="aplica2x1" [ngModel]="aplica2x1">
                    <ion-select-option value="S">Sí</ion-select-option>
                    <ion-select-option value="N">No</ion-select-option>
                  </ion-select>

              </ion-item>
              <ion-item>
                <ion-select label="Selecciona Categoria 1" label-placement="floating" formControlName="categoria1" [(ngModel)]="categoria1_seleccionado">
                  <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.codigo">
                    {{ categoria.codigo}} - {{categoria.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select label="Selecciona Categoria 2" label-placement="floating" formControlName="categoria2" [(ngModel)]="categoria2_seleccionado">
                  <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.codigo">
                    {{ categoria.codigo}} - {{categoria.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select label="Selecciona Categoria 3" label-placement="floating" formControlName="categoria3" [(ngModel)]="categoria3_seleccionado">
                  <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.codigo">
                    {{ categoria.codigo}} - {{categoria.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>


              <div class="button-container">
                <ion-button type="submit" class="centered-button" [disabled]="!formularioPizza.valid">
                  Edita Pizza
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
