<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Editar Especialidad
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Editar Especialidad</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1>ID: {{id}}</h1>
            <form [formGroup]="formularioEspecialidad" (ngSubmit)="editaEspecialidad()">
              <ion-item>
                <ion-input label="Nombre" label-placement="floating" formControlName="nombre"
                  [ngModel]="nombre"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Ingredientes" label-placement="floating" formControlName="ingredientes"
                  [ngModel]="ingredientes"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Img Url" label-placement="floating" formControlName="img_url"
                  [ngModel]="img_url"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Orden" label-placement="floating" formControlName="orden"
                  [ngModel]="orden"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Cantidad de Ingredientes" label-placement="floating" formControlName="cantidad_ingredientes"
                  [ngModel]="cantidad_ingredientes"></ion-input>
              </ion-item>
              <!--ion-item>
                <ion-input label="Es de un Ingrediente" label-placement="floating" formControlName="es_de_un_ingrediente"
                  [ngModel]="es_de_un_ingrediente"></ion-input>
              </ion-item-->

              <ion-item>
          <ion-select label="Es de un Ingrediente" label-placement="floating" formControlName="es_de_un_ingrediente" [ngModel]="es_de_un_ingrediente">
            <ion-select-option value="S">Sí</ion-select-option>
            <ion-select-option value="N">No</ion-select-option>
          </ion-select>
              </ion-item>              

              <div class="button-container">
                <!--ion-button type="submit" class="centered-button" [disabled]="!formularioRegion.valid" color="success"-->
                <ion-button type="submit" class="centered-button" [disabled]="!formularioEspecialidad.valid">
                  Edita Especialidad
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
