<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Catálogo Productos
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarProducto()" color="success">Insertar Producto</ion-button>
  </p>

  <div class="table-container">
    @if (productos){
      <ion-grid fixed>
        <ion-row>
          @for (producto of productos; track $index) {
            <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle class="subtitle">{{producto.id}}</ion-card-subtitle>
                  <ion-card-title>{{producto.descripcion_p}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Tamaño: {{producto.tamanio}}<br>
                  Usa salsa:{{producto.usa_salsa}}<br>
                  ID_Tipo_Producto:{{producto.id_tipo_producto}}<br>
                  Nombre Tipo de Producto:{{producto.nombre_tp}}<br>
                  Ruta de la imagen: {{producto.ruta_imagen}}<br>
                  Categoria 1: {{producto.categoria1}}<br>
                  Categoria 2: {{producto.categoria2}}<br>
                  Categoria 3: {{producto.categoria3}}<br><br>
                  <ion-button (click)="confirmaBorrar(producto)" color="danger">Borrar</ion-button>
                  <ion-button (click)="saltaAEditarProducto(producto.id)">Editar</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
            }
          </ion-row>
        </ion-grid>
      }
    </div>
  </ion-content>
