<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Inserta Relación Orilla Sucursal Pizzas
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-title size="large">Insertar Relación Pizza Sucursal</ion-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formularioROS" (ngSubmit)="insertaROS()">
              <ion-item>
                @if (relacionOrillaSucursalNoEstaEnOrilla){
                <ion-select label="Elige Orilla" label-placement="floating"
                  formControlName="idOrilla">
                  @for (ros of relacionOrillaSucursalNoEstaEnOrilla; track $index) {
                  <ion-select-option value="{{ros.idOrilla}}">{{ros.descripcionOrilla}} - {{ros.nombreTamanio}}</ion-select-option>
                  }
                </ion-select>
                }
              </ion-item>
              <ion-item>
                <ion-input label="Precio" label-placement="floating" formControlName="precio"></ion-input>
              </ion-item>
              <div class="button-container">
                <ion-button type="submit" class="centered-button" [disabled]="!formularioROS.valid"
                  color="success">
                  Inserta Relación Orilla Sucursal
                </ion-button>
              </div>
            </form>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
