<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Relación, Especialidad, Tamaño, Precio, Sucursal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button color="success">Insertar Registro en Relacion Especialidad, Tamaño, Precio, Sucursal</ion-button>
  </p>

  <div class="table-container">
    @if (registrosRelacionEtps){
      <ion-grid fixed>
        <ion-row>
          @for (registro of registrosRelacionEtps; track $index) {
            <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle class="subtitle">{{registro.idEspecialidad}}</ion-card-subtitle>
                  <ion-card-title>{{registro.pizzaNombre}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Tamaño: {{registro.pizzaTamanio}}<br>
                  Nombre de Sucursal: {{sucursal.nombre_sucursal}} <br>
                  Precio: {{registro.precio}}<br>
                  <ion-button color="danger">Borrar</ion-button>
                  <ion-button>Editar</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
            }
          </ion-row>
        </ion-grid>
      }
    </div>
</ion-content>
