<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Sucursales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarSucursal()" color="success">Insertar Sucursal</ion-button>
  </p>

  <div class="table-container">
    @if (sucursales){
    <ion-grid fixed>
      <ion-row>
        @for (sucursal of sucursales; track $index) {
        <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="subtitle">{{sucursal.idSucursal}}</ion-card-subtitle>
              <ion-card-title>{{sucursal.claveSucursal}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Sucursal: {{sucursal.nombreSucursal}}<br>
              RFC: {{sucursal.rfc}}<br>
              Domicilio: {{sucursal.domicilio}}<br>
              Teléfono: {{sucursal.telefono}}<br>
              Hora de Inicio: {{sucursal.horaInicio}}<br>
              Hora de cierre: {{sucursal.horaFin}}<br>
              Latitud: {{sucursal.latitud}}<br>
              Longitud: {{sucursal.longitud}}<br>
              ID Región: {{sucursal.idRegion}}<br>
              Nombre Región: {{sucursal.nombreRegion}}<br>
              Venta Activa: {{sucursal.ventaActiva}}<br>
              PK: {{sucursal.pk}}<br>
              SK: {{sucursal.sk}}<br>
              Monto Mínimo Venta Sucursal: {{sucursal.montoMinimoEntregaSucursal}}<br>
              Monto Mínimo Entrega a Domicilio: {{sucursal.montoMinimoEntregaDomicilio}}<br><br>
              <ion-button (click)="confirmaBorrar(sucursal)" color="danger">Borrar</ion-button>
              <ion-button (click)="saltaAEditarSucursal(sucursal.idSucursal)">Editar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    }
  </div>

</ion-content>
