<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Sucursales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sucursales-ppal</ion-title>
    </ion-toolbar>
  </ion-header>

  <p style="text-align: center">
    <ion-button  color="success">Insertar Sucursal</ion-button>
  </p>

  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID Sucursal</th>
          <th>Clave Sucursal</th>
          <th>Nombre Sucursal</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (sucursales){
          @for (sucursal of sucursales; track $index) {
        <tr>
          <td>{{sucursal.id}}</td>
          <td>{{sucursal.clave}}</td>
          <td>{{sucursal.nombre_sucursal}}</td>
          <td>
            <ion-button color="danger">Borrar</ion-button>
          </td>
          <td>
            <ion-button >Editar</ion-button> <br>
          </td>
        </tr>
      }
      }
      </tbody>

    </table>
  </div>
</ion-content>
