<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Promoción Especial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarPromocionEspecial()" color="success">Insertar Promoción Especial</ion-button>
  </p>


  <div class="table-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>ID Promoción</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Definición</th>
          <th>Precio</th>
          <th>Activa</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if (promocionesEspeciales){
          @for (promocionEspecial of promocionesEspeciales; track $index) {
        <tr>
          <td>{{promocionEspecial.idPromocion}}</td>
          <td>{{promocionEspecial.nombre}}</td>
          <td>{{promocionEspecial.descripcion}}</td>
          <td>{{promocionEspecial.tipo}}</td>
          <td>{{promocionEspecial.definicion}}</td>
          <td>{{promocionEspecial.precio}}</td>
          <td>{{promocionEspecial.activa}}</td>
          <td>
            <ion-button (click)="confirmaBorrar(promocionEspecial)" color="danger">Borrar</ion-button>
          </td>
          <td>
            <ion-button (click)="saltaAEditarPromocionEspecial(promocionEspecial.idPromocion)">Editar</ion-button> <br>
          </td>
        </tr>
      }
      }
      </tbody>

    </table>
  </div>


</ion-content>
