<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Promoción Especial</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarPromocionEspecial()" color="success">Insertar Promoción Especial</ion-button>
  </p>



  <div class="table-container">
    @if (promocionesEspeciales){
      <ion-grid fixed>
        <ion-row>
          @for (pe of promocionesEspeciales; track $index) {
            <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle class="subtitle">{{pe.idPromocion}}</ion-card-subtitle>
              <ion-card-title>{{pe.nombre}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Descripción: {{pe.descripcion}}<br>
              Tipo: {{pe.tipo}}<br>
              Definición: {{pe.definicion}}<br>
              Precio: {{pe.precio}}<br>
              Activa: {{pe.activa}}<br>
              Img URL: {{pe.imgURL}}<br><br>
              <ion-button (click)="confirmaBorrar(pe)" color="danger">Borrar</ion-button>
              <ion-button (click)="saltaAEditarPromocionEspecial(pe.idPromocion)">Editar</ion-button>

            </ion-card-content>
          </ion-card>
          </ion-col>
        }

        </ion-row>
      </ion-grid>
  }
  </div>


</ion-content>
