<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <!-- Botón de regreso (izquierda) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    <ion-title class="ion-text-center">
      Insertar Orilla
    </ion-title>

    <!-- Sucursal a la derecha -->
    <div slot="end" style="padding-right: 10px; color: white;">
      Sucursal: {{cveSucursal}}
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-title size="large">Insertar Orilla</ion-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="formularioOrilla" (ngSubmit)="insertaOrilla()">
              <ion-item>
                <ion-input label="Descripción" label-placement="floating" formControlName="descripcion"></ion-input>
              </ion-item>
              <ion-item>
                @if (tamaniosPizza){
                <ion-select label="Tamaños de Pizza" label-placement="floating"
                  formControlName="idTamanio">
                  @for (tamanioPizza of tamaniosPizza; track $index) {
                  <ion-select-option value="{{tamanioPizza.id}}">{{tamanioPizza.nombre}}</ion-select-option>
                  }
                </ion-select>
                }
              </ion-item>
              <div class="button-container">
                <ion-button type="submit" class="centered-button" [disabled]="!formularioOrilla.valid"
                  color="success">
                  Inserta Orilla
                </ion-button>
              </div>
            </form>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

