<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Edita Relación Promoción Especial Sucursal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalles de la Promoción</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="info-item">
              <strong>ID:</strong> {{idPromocion}}
            </div>
            <div class="info-item">
              <strong>Nombre:</strong> {{nombre}}
            </div>
            <div class="info-item">
              <strong>Descripción:</strong> {{descripcion}}
            </div>
            <div class="info-item">
              <strong>Sucursal:</strong> {{claveSucursal}}
            </div>

            <form [formGroup]="formularioRelacionPES" (ngSubmit)="editaRelacionPES()">
              <ion-item class="ion-margin-top">
                <ion-select label="Activa" label-placement="floating" formControlName="activa">
                  <ion-select-option value="S">Si</ion-select-option>
                  <ion-select-option value="N">No</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="button-container ion-margin-top">
                <ion-button type="submit" class="centered-button" [disabled]="!formularioRelacionPES.valid" expand="block">
                  Edita Relación Promoción Especial Sucursal
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
