<div class="ion-page" id="main-content">
  <!--ion-header>
    <ion-toolbar color="custom">
      <ion-title class="ion-text-center" style="font-size: 24px"
        >Sistema de Captura de Precios, Productos y Promociones
        CheesePizza</ion-title
      >
    </ion-toolbar>
  </!--ion-header-->

  <ion-header>
    <ion-toolbar color="custom">
      <!-- Aquí se posiciona el componente del contador -->
      <!--ion-buttons slot="start">
        <app-session-timer></app-session-timer>
      </ion-buttons-->

      <!-- Título centrado -->
      <ion-title class="ion-text-center" style="font-size: 24px">
        Sistema de Captura de Precios, Productos y Promociones CheesePizza
      </ion-title>
    </ion-toolbar>
    <ion-button expand="block" (click)="abrirModal()">Crear promoción</ion-button>

    <div *ngIf="resultado">
      <h2>Resultado recibido:</h2>
      <p>{{ resultado }}</p>
    </div>
  </ion-header>

  <ion-content class="ion-padding">
    <form [formGroup]="formulario" (ngSubmit)="saltaAMenuCatalogos()">
      <div style="display: flex; justify-content: center; gap: 10px">
        <ion-list>
          <ion-item>
            <!--ion-select aria-label="Food" [compareWith]="compareWith" placeholder="Select food" (ionChange)="handleChange($event)"-->
            <ion-select
              aria-label="Sucursal"
              placeholder="Selecciona Sucursal"
              formControlName="id_sucursal"
            >
              <ion-select-option
                *ngFor="let sucursal of sucursales"
                [value]="sucursal.idSucursal"
              >
                {{sucursal.claveSucursal}}
                {{sucursal.nombreSucursal}}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!--ion-button type="submit" (click)="saltaAMenuCatalogos()">Ingresar</!--ion-button-->
      <div style="display: flex; justify-content: center; gap: 10px">
        <ion-button type="submit" color="success" [disabled]="formulario.invalid">Ingresar</ion-button>
      </div>
      <!--div style="margin-top: 20px; text-align: center;">
        <ion-label>
          <strong>Tiempo restante de sesión:</strong>
          {{ minutes }}:{{ seconds < 10 ? '0' + seconds : seconds }}
        </ion-label>
      </div-->

      <!-- Inhabilita el botón-->
      <!--ion-button type="submit" color="success" [disabled]="formulario.invalid">
        Ingresar
      </!--ion-button-->
    </form>
  </ion-content>
</div>
