<ion-header [translucent]="true">
  <ion-toolbar color="custom">
    <ion-title class="ion-text-center">Catalogo Relación Pizza Sucursal</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p style="text-align: center">
    <ion-button (click)="saltaAInsertarRelacionPizzaSucursal()" color="success">Insertar Pizza Sucursal</ion-button>
  </p>

    <div class="table-container">
      @if (relacionPizzaSucursal){
        <ion-grid fixed>
          <ion-row>
            @for (rps of relacionPizzaSucursal; track $index) {
              <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle class="subtitle">{{rps.idPizza}}</ion-card-subtitle>
                <ion-card-title>{{rps.nombreEspecialidad}} {{rps.tamanioPizza}}</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                Clave de la sucursal: {{rps.claveSucursal}}<br>
                Precio por una pizza: {{rps.precioX1}}<br>
                Precio por dos pizzas: {{rps.precioX2}}<br><br>
                <ion-button (click)="confirmaBorrar(rps)" color="danger">Borrar</ion-button>
                <ion-button>Editar</ion-button>
              </ion-card-content>
            </ion-card>
            </ion-col>
          }

          </ion-row>
        </ion-grid>
    }
    </div>
</ion-content>
